@use "../utils/mixins" as *;

.section_a {

  overflow: hidden;
  padding: 4rem 5%;


  display: grid;
  grid-template-columns: repeat(2, minmax(min(100%, 300px), 1fr));

  gap: 1rem;


  .section_a_img_container {
    min-width: 200px;
    max-width: 500px;
    height: auto;;

    img {
      filter: drop-shadow(0 0 1rem #373737);
    }

  }

  .section_a_content {
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;


    h1 {
      font-size: clamp(2rem, 3vw, 3rem);
    }

    p {
      font-size: clamp(1.2rem, 2vw, 1.4rem);
      line-height: 1.2;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: white;
      border: 1px solid #373737;
      color: #373737;
      cursor: pointer;
      font-size: clamp(1.2rem, 2vw, 1.4rem);
    }


    @include respond(tab-port) {
      text-align: center;
      align-items: center !important;
    }
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(1, minmax(min(100%, 300px), 1fr));
    place-items: center;
  }


  @include respond(phone) {

    padding: 1rem 5%;
  }
}