@use "../../utils/mixins" as *;

.banner_wrapper {
  width: 100%;
  padding: 2rem 5%;


  .banner {
    position: relative;

    width: 100%;
    height: 200px;
    padding: 1rem;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;


    gap: 1rem;

    .banner_titles {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: white;

      .banner_title {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
      }

      .banner_subtitle {
        font-size: clamp(1rem, 3vw, 1.5rem);
      }
    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;

      object-fit: cover;
      z-index: -1;

      filter: brightness(40%);
    }

    button {
      padding: 0.5rem 1rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
      background-color: transparent;
      border: 1px solid white;
      color: white;
      cursor: pointer;
    }

    @include respond(phone) {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

