@use "../utils/mixins" as *;

.about_container {
  padding-inline: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;


  .about_content_text {


    display: flex;
    flex-direction: column;
    gap: 1.5rem;



    background-color: white;


    text-align: center;

    border: 0.5px solid rgba(51, 51, 51, 0.5);

    padding: 1rem 10%;

    h1 {
      font-size: clamp(2rem, 3vw, 3rem);
    }

    p {
      font-size: clamp(1rem, 2vw, 1.2rem);
      line-height: 1.5;
    }

    @include respond(phone) {
      text-align: center;
    }


    .about_content_links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      a {
        font-size: 1.1rem;
        color: black;
      }
    }


  }

  .logo_title {
    cursor: pointer;
    font-family: "Playfair Display", serif;

    span {
      color: black;
      font-size: 5rem;

      &:last-child {
        font-weight: bold;
        font-size: 7.5rem;
      }
    }

    @include respond(phone) {
      span {
        font-size: 1.5rem;

        &:last-child {
          font-size: 2rem;
        }
      }

    }
  }

}
