@use "../utils/mixins" as *;

.detail_container {
  width: 100%;
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .art_title {
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.2;
  }

  .detail_box {
    width: 100%;
    height: 100%;


    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr;
    grid-template-rows: auto;

    gap: 1rem;

    grid-template-areas:
            "a b c";


    .detail_box_left_side {
      grid-area: a;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 1rem;


      .icons_area {
        display: flex;
        gap: 0.5rem;
        align-items: center;


        .detail_icon_wrapper {
          background-color: #950000;
          width: 40px;
          aspect-ratio: 1 / 1;
          border-radius: 50%;

          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            color: white;
            font-size: 1.1rem;
          }

        }


      }

      hr {
        width: 100%;
        opacity: 0.5;
      }

      .detail_box_left_side_info {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        font-size: 1rem;

        .detail_box_left_side_info_item {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          line-height: 1.4;

          .info_item_icon {
            flex-shrink: 0;

          }


        }

        .category_titles {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.5rem;

          line-height: 1.2;

          div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }


        }


      }

    }

    .detail_box_main_side {
      grid-area: b;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      figure {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        cursor: pointer;

        .figure_2 {
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

        }

        .figure_inner_wrapper {
          position: absolute;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.5);

          height: 100%;
          width: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          color: white;
          font-size: 2rem;
          font-weight: 400;
          font-style: italic;

          opacity: 0;
          transition: all 0.3s ease-in-out;
          pointer-events: none;
        }

        &:hover .figure_inner_wrapper {
          opacity: 1;
        }

        figcaption {
          text-align: center;
          font-weight: 500;
          font-size: clamp(0.8rem, 1.2vw, 1rem);
          color: rgba(0, 0, 0, 0.5);
          line-height: 1.5;
        }

        @include respond(tab-land) {
          &:hover .figure_inner_wrapper {
            opacity: 0;
          }
        }
      }

      details {


        summary {
          font-weight: 500;
          font-size: clamp(1rem, 1.2vw, 1.3rem);
          cursor: pointer;
          line-height: 1.5;

          user-select: none;

        }

        ul {
          padding: 1rem;
          list-style: disc;

          display: flex;
          flex-direction: column;

          gap: 1rem;

          li {
            line-height: 1.5;
            font-size: clamp(1rem, 1.2vw, 1.3rem);
          }

          a {
            color: #950000;
            text-decoration: underline;
          }
        }
      }


      .art_description {
        font-size: clamp(1rem, 1.2vw, 1.3rem);
        line-height: 1.5;

        span {
          font-weight: bold;
          font-style: italic;
        }

        a {
          color: #950000;
          text-decoration: underline;
        }
      }


      .end_of_art {
        opacity: 0.5;
        font-size: clamp(0.8rem, 1.2vw, 1rem);
      }


      @include respond(phone) {
        gap: 1rem;
      }
    }

    .detail_box_right_side {
      grid-area: c;

      display: flex;
      flex-direction: column;
      gap: 1rem;


      .short_description {
        font-size: 1rem;
        line-height: 1.4;
      }

      .artist_info {

        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 1rem;
        line-height: 1.4;
        font-weight: 700;

      }

      .license_text {
        font-size: 1rem;
        line-height: 1.4;
        color: rgba(0, 0, 0, 0.6);
        font-style: italic;
      }
    }

    @include respond(tab-land) {
      grid-template-columns: 1fr 0.6fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
                "a a"
                "b c";
    }

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
                "a"
                "c"
                "b";
    }

  }

  @include respond(phone) {
    padding: 1rem 5%;
    gap: 1rem;

  }
}