.not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 1.5rem;

  h1 {
    font-size: clamp(2rem, 4vw, 5rem);
  }

  button {
    padding: 0.5rem 1rem;
    border: 0.5px solid rgba(51, 51, 51, 0.5);
    background-color: transparent;
    cursor: pointer;

    font-weight: 500;

    font-size: clamp(1rem, 2vw, 1.2rem);
  }

}